doctype html
html(lang="en")
  head
    title= pageTitle
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')
    script(src="/js/main.js")
        
  body
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p Get on it!
      p.
        Pug is a terse and simple templating language with a
        strong focus on performance and powerful features.
    
    form.myForm
        input(type="text", placeholder="text")
        button(type="submit")
            span Submit
